    body {
        margin:100px;
        background-color: #254abcff;
        font-family: 'Roboto', sans-serif;
    }
    .right{
        float: right;
        width: 85%;
        height: 200px;
        padding: 150px 20px;
        background-image: linear-gradient(to bottom, #edb506ff, #e7b107ff);
        position: absolute;
        right: 0px;
        border-radius: 10px;
        margin-bottom: 100px;
        margin-right: 80px;
    }
    h1{
        text-align: center;
        color: #ffffff !important;
        font-size: 40px;
    }