.TabelaCrud{width: 100%; text-align: center;}
    .TabelaCrud tr:nth-child(2n -1){background: #CCC;}
    .TabelaCrud tr:first-child{background: #254abcff; color:#e7b107ff; font-weight: bold; font-size: 20px;}
    .TabelaCrud td{width: 25%;}

    body {
        margin: 100px;
        /*background-image: linear-gradient(to bottom, #4e73deff, #254abcff);
        background-repeat: repeat;*/
        font-family: 'Roboto', sans-serif;
    }